@import url(../slider/slider.css);

.people-filter {
    border-radius: 20px;
    background-color: var(--yellow);
    padding: 46px 48px 44px;
    block-size: min-content;
}

.people-filter__title {
    margin-block-end: 34px;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    color: var(--blue-light);
}

.people-filter__options {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.people-filter__options-item:has(.people-filter__open:checked) .filter-option-content {
    display: flex;
}

.people-filter__option-title {
    display: flex;
    justify-content: space-between;
}

.people-filter__option-title h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
}

.people-filter__open-label {
    position: relative;
    block-size: 22px;
    inline-size: 100%;
    align-self: center;
}

.people-filter__open-label::before {
    position: absolute;
    content: "";
    inline-size: 10px;
    block-size: 6px;
    inset-block-start: 50%;
    inset-inline-end: 0;
    transform: translateY(-50%);
    background-image: url(../../../assets/svg/arrow_closed.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.people-filter__open-label:has(:checked)::before {
    background-image: url(../../../assets/svg/arrow_opened.svg);
}

.people-filter__category {
    margin-block: 27px 32px;
    flex-direction: column;
    gap: 19px;
    font-size: 20px;
    line-height: 20px;
}

.people-filter__transport {
    margin-block: 17px 35px;
    gap: 1px;
}

.people-filter__transport-item {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 43px;
    inline-size: 43px;
    background-color: #fff;
    border-radius: 50%;
}

.people-filter__transport-item svg {
    pointer-events: none;
    opacity: 0.15;
}

.transport-enabled svg {
    opacity: 1;
}

.people-filter__cb-label {
    position: relative;
    padding-inline-start: 36px;
}

.people-filter__cb-label::before {
    position: absolute;
    content: "";
    block-size: 24px;
    inline-size: 24px;
    inset-inline-start: 0;
    inset-block-start: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    background-color: #fff;
}

.people-filter__cb-label:has(.people-filter__checkbox:checked)::before {
    background-image: url(../../../assets/svg/tick.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.filter-option-content {
    display: none;
}

.people-filter__level {
    flex-direction: column;
    gap: 31px;
    margin-block: 20px 40px;
}

.people-filter__level-values {
    --block-size: 46px;

    position: relative;
    display: flex;
    inline-size: 190px;
    block-size: var(--block-size);
    border: 1px solid #cbced9;
    border-radius: 4px;
    border-collapse: collapse;
}

.people-filter__level-values::before {
    position: absolute;
    content: "";
    block-size: calc(var(--block-size) - 16px * 2);
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
}

.people-filter__level-values::after {
    position: absolute;
    z-index: 1;
    content: "";
    inline-size: 20px;
    border: 1px solid #cbced9;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    transform: translate(-50%, -50%);
}

.people-filter__level-value::-webkit-inner-spin-button,
.people-filter__level-value::-webkit-outer-spin-button {
    appearance: none;
}

.people-filter__level-value {
    inline-size: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--blue-light);
    border: 1px solid #cbced9;
    cursor: text;
}

.people-filter__level-value:focus {
    outline: none;
}

.people-filter__show-btn {
    inline-size: 188px;
    block-size: 49px;
    margin-block-start: 40px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--blue-light);
    background-color: #fff;
}

@media screen and (width <= 768px) {
    .people-filter {
        inline-size: 688px;
        padding: 37px 36px 34px;
    }

    .people-filter__title {
        block-size: 68px;
        border-block-end: 1px solid #f3c72b;
    }

    .people-filter__options {
        gap: 26px;
        padding-block-end: 37px;
        border-block-end: 1px solid #f3c72b;
    }

    .people-filter__options-item {
        display: grid;
        grid-template-columns: 127px 1fr;
    }

    .people-filter__open-label {
        line-height: 20px;
    }

    .people-filter__open-label::before {
        content: none;
    }

    .people-filter__category {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        margin: 0;
    }

    .people-filter__transport {
        display: flex;
        gap: 2px;
        margin: 0;
    }

    .people-filter__level {
        display: flex;
        flex-direction: row-reverse;
        gap: 61px;
        align-items: center;
        margin: 0;
    }

    .people-filter__level-values {
        inline-size: 148px;
    }

    .slider {
        inline-size: 281px;
    }

    .people-filter__show-btn {
        inline-size: 100%;
    }
}